/* TOKENS */
:root {
  --background: white;
  --foreground: black;
  --secondary: #6c757d; /* Bootstrap $gray-600 */
}

/* BASE */
body {
  min-width: 320px;
}

/* COMPONENTS */

/* Page */
.page {
  padding-inline: 1.5rem;

  @media (min-width: 375px) {
    padding-inline: 2.5rem;
  }
}

/* Heading */
.heading {
  text-align: center;

  h1 {
    font-size: clamp(1rem, 4vw, 2.6rem);
    font-weight: 600;
    text-transform: capitalize;
  }

  p {
    font-size: clamp(0.7rem, 2.5vw, 1.2rem);
    font-weight: lighter;
  }
}

/* Col boxes */
.box {
  padding: 1rem;

  &.box-dark {
    color: var(--background);
  }

  &.box-light {
    color: var(--foreground);

    p {
      color: var(--secondary);
    }
  }

  h2 {
    font-size: clamp(1rem, 3vw, 1.7rem);
    font-weight: 500;
  }

  p {
    font-size: clamp(0.6rem, 2vw, 0.95rem);
    font-weight: light;
  }
}
